<section>
  <div id="collected_currencies_chart" class="simple_pie_chart" width='300px' height='100px'>
    <table>
      <tr>
        <th>Collected</th>
        <td><%= Currency.collected.count %></td>
      </tr><tr>
        <th>Not Collected</th>
        <td><%= Currency.not_collected.count %></td>
      </tr>
    </table>
  </div>

  <h1>Currencies</h1>

    <div id="placeholder" style="width:500px;height:200px;top:50px;margin-bottom:50px;"></div>


  <table>
    <tr>
      <th>Name  <%= text_field_tag :search %></th>
      <th>Code</th>
      <th>Visit  <span id='checkallbox'>(<%= check_box :visit, :all %>Check all)</span></th>
      <th></th>
    </tr>

  <% @currencies.each do |currency| %>
    <tr>
      <td><%= currency.name %></td>
      <td><%= currency.code %></td>
      <td><%= form_for currency, remote: true do |f| %>
            <%= f.check_box :collected? %>
          <% end %>
        <div><%= currency.collected? ? 'Collected' : 'Not Collected' %></div></td>
      <td><%= link_to 'Show', currency %></td>
    </tr>
  <% end %>
  </table>
</section>

<script type="text/javascript">
$(function () {

    var visits = [<% @visits.each do |visit| %>[new Date('<%= visit.created_at %>'), <%= visit.number %>],<% end %>];

    $.plot($("#placeholder"), [ visits ], {xaxis: { mode: 'time',timeformat: "%m/%d/%y"}});
});
</script>