<section>
  <div id="visited_countries_chart" class="simple_pie_chart" width='300px' height='100px'>
    <table>
      <tr>
        <th>Visited</th>
        <td><%= Country.visited.count %></td>
      </tr><tr>
        <th>Not Visited</th>
        <td><%= Country.not_visited.count %></td>
      </tr>
    </table>
  </div>

  <h1>Countries</h1>
  
  <p>
  </p>

  <div id="placeholder" style="width:500px;height:200px;top:50px;margin-bottom:50px;"></div>


  <table>
    <tr>
      <th>Name   <%= text_field_tag :search %></th>
      <th>Code</th>
      <th>Visit  <span id='checkallbox'>(<%= check_box :visit, :all %>Check all)</span></th>
      <th></th>
      <th></th>
    </tr>

  <% @countries.each do |country| %>
    <tr>
      <td><%= country.name %></td>
      <td><%= country.code %></td>
      <td><%= form_for country, remote: true do |f| %>
            <%= f.check_box :visited %>
          <% end %><div><%= country.visited? ? 'Visited' : 'Not Visited' %></div></td>
      <td><%= link_to 'Show', country %></td>
      <td><%= link_to 'Edit', edit_country_path(country) %></td>
    </tr>
  <% end %>
  </table>
</section>

<script type="text/javascript">
$(function () {

    var visits = [<% @visits.each do |visit| %>[new Date('<%= visit.created_at %>'), <%= visit.number %>],<% end %>];

    $.plot($("#placeholder"), [ visits ], {xaxis: { mode: 'time',timeformat: "%m/%d/%y"}});
});
</script>
