<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @country.name %>
</p>

<p>
  <b>Code:</b>
  <%= @country.code %>
</p>

<p>
  <b>Status:</b>
  <%= @country.visited? ? 'Visited' : 'Not Visited' %>
</p>

<p>
  <b>Currencies:</b>
  <ul>
    <% @country.currencies.each do |currency| %>
      <li><%= link_to currency.name, currency %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
